<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
<div class="row">
    <div class="col">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" th:each="buy, state : ${buyList}">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#my-panel-' + state.index}" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  [[${#numbers.formatInteger(#lists.size(buyList) - state.index, 2)}]] |
                  [[${buy.buyDetailList[0].itemVO.itemName}]] 외 [[${#lists.size(buy.buyDetailList) - 1}]]건
                  결제금액 : [[${#numbers.formatCurrency(buy.buyTotalPrice)}]] 
                  주문일시 : [[${buy.buyDate}]]
                </button>
              </h2>
              <div th:id="${'my-panel-' + state.index}" class="accordion-collapse collapse">
                <div class="accordion-body text-end">
                  <table class="table table-striped text-center align-middle" style="width: 90%;">
                    <colgroup>
                      <col width="10%">
                      <col width="*">
                      <col width="15%">
                      <col width="15%">
                      <col width="15%">
                    </colgroup>
                    <thead>
                      <tr>
                        <td>No</td>
                        <td>구매 상품</td>
                        <td>가격</td>
                        <td>수량</td>
                        <td>구매가격</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="buyDetail, state : ${buy.buyDetailList}">
                        <td>[[${#lists.size(buy.buyDetailList) - state.index}]]</td>
                        <td class="text-start">
                          <img width="80px;" th:src="${'/images/' + buyDetail.itemVO.imgList[0].attachedFileName}" alt="">
                          [[${buyDetail.itemVO.itemName}]]
                        </td>
                        <td>[[${buyDetail.itemVO.itemPrice}]]</td>
                        <td>[[${buyDetail.buyCnt}]]</td>
                        <td>[[${buyDetail.buyPrice}]]</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</th:block>
</body>
</html>