<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row row-cols-5 g-4">
        <div class="col" th:each="item : ${itemList}">
            <div class="card">
                <a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}">
                  <img th:src="${'/images/' + item.imgList[0].attachedFileName}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h5 class="card-title">[[${item.itemName}]]</h5>
                  <p class="card-text">[[${#numbers.formatCurrency(item.itemPrice)}]]</p>
                </div>
              </div>
        </div>
     </div>
</th:block>
</body>
</html>